openapi: 3.2.0
info:
  title: Version 3 Super Geocoding API
  version: 3.0.0
  description: This is the documentation for the public api *(version 3)* of 99minutos.
servers:
- url: https://delivery.99minutos.com
  description: Produccion
- url: https://sandbox.99minutos.com
  description: Sandbox Environment
tags:
- name: super-geocoding
paths:
  /api/v3/super-geocoding:
    post:
      tags:
      - super-geocoding
      summary: super geocoding
      operationId: validate_address_validate_address_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressValidationRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressValidationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    AddressValidationResponse:
      properties:
        status:
          type: string
          title: Status
          example: VALID
        address:
          type: string
          title: Address
          example: Calle Masaryk 29, Anzures, Miguel Hidalgo, 11590 CDMX, México
        components:
          items:
            $ref: '#/components/schemas/AddressComponent'
          type: array
          title: Components
          example:
          - confidence: CONFIRMED
            name: Calle Masaryk
            type: street
          - confidence: CONFIRMED
            name: '29'
            type: street_number
          - confidence: CONFIRMED
            name: Anzures
            type: neighborhood
        location:
          type: object
          title: Location
          example:
            latitude: 19.4356382
            longitude: -99.181854
        uncertainty_in_meters:
          type: number
          title: Uncertainty In Meters
          default: 0
          example: 10.539512
        place_id:
          type: string
          title: Place Id
          example: ChIJczyrNaz40YUR2CgG_IrhgkQ
        plus_code:
          type: object
          title: Plus Code
          example: XXXXX
        place_types:
          items:
            type: string
          type: array
          title: Place Types
          example:
          - premise
        unconfirmed_component_types:
          anyOf:
          - items:
              type: string
            type: array
          title: Unconfirmed Component Types
          default: []
          example:
          - street_number
        algorithm:
          type: string
          title: Algorithm
          example: FAST
        credits:
          type: integer
          title: Credits
          example: 1
      type: object
      required:
      - status
      - address
      - components
      - location
      - place_id
      - plus_code
      - place_types
      - algorithm
      - credits
      title: AddressValidationResponse
    AddressValidationRequest:
      properties:
        address_lines:
          items:
            type: string
          type: array
          title: Address Lines
          example:
          - Calle Masaryk 29
          - Anzures
        region_code:
          type: string
          enum:
          - MX
          - US
          - CO
          - PE
          - CL
          title: Region Code
          example: MX
        algorithm:
          anyOf:
          - type: string
            enum:
            - FAST
            - EXPENSIVE
          title: Algorithm
          default: FAST
          example: FAST
      type: object
      required:
      - address_lines
      - region_code
      title: AddressValidationRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    AddressComponent:
      properties:
        name:
          type: string
          title: Name
          example: Calle Masaryk
        type:
          type: string
          title: Type
          example: street
        confidence:
          type: string
          title: Confidence
          example: CONFIRMED
      type: object
      required:
      - name
      - type
      - confidence
      title: AddressComponent
  securitySchemes:
    AuthJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
