openapi: 3.2.0
info:
  title: Version 3 Coverage API
  version: 3.0.0
  description: This is the documentation for the public api *(version 3)* of 99minutos.
servers:
- url: https://delivery.99minutos.com
  description: Produccion
- url: https://sandbox.99minutos.com
  description: Sandbox Environment
tags:
- name: Coverage
paths:
  /api/v3/coverage/zipcodes/{country}:
    get:
      operationId: GetZipCodesByCountry
      description: Return list of postal codes by country paginated
      tags:
      - Coverage
      parameters:
      - in: path
        name: country
        schema:
          type: string
          enum:
          - MEX
        description: Filter for search postal codes
        required: true
      - in: query
        name: deliveryType
        schema:
          type: string
          enum:
          - RET
          - NXD
        description: delivery types with postal codes
        required: true
      - in: query
        name: limit
        schema:
          type: integer
        description: Limit of codes by page
        required: true
      - in: query
        name: page
        schema:
          type: integer
        description: Page
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  codes:
                    type: array
                    items:
                      type: string
                      description: ''
                  metadata:
                    type: object
                    properties:
                      page:
                        type: string
                        description: ''
                      limit:
                        type: string
                        description: ''
                      totalPages:
                        type: string
                        description: ''
              examples:
                ReturnGuidesResponse:
                  value:
                    codes:
                    - '546783'
                    - '1234323'
                    metadata:
                      page: '1'
                      limit: '2'
                      totalPages: '760'
                  summary: return postal codes response
                  description: return postal codes
          description: ''
      summary: Get zip codes by country
      x-summary-source: derived
components:
  securitySchemes:
    AuthJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
