{
  "openapi": "3.0.3",
  "info": {
    "title": "API Version 3",
    "version": "3.0.0",
    "description": "This is the documentation for the public api *(version 3)* of 99minutos. [https://www.99minutos.com/.](https://www.99minutos.com/.EnvironmentAPI)\n\n# First Steps\n\n1.  Create an account in the sandbox website: [https://delivery-git-sandbox-99minutos.vercel.app/](https://delivery-git-sandbox-99minutos.vercel.app/)\n2.  Go to Developers section\n3.  On API Keys V3 section click on `Generar`\n4.  After this the `client_id` and `client_secret` will be displayed\n    \n\nUse the credentials to generate access tokens as shown below in the endpoint `create access token`\n\nFollow the same process in production.\n\n## Environments\n\n| **Environment** | **Website** | **API url** |\n| --- | --- | --- |\n| Sandbox | [https://delivery-git-sandbox-99minutos.vercel.app/](https://delivery-git-sandbox-99minutos.vercel.app/) | [https://sandbox.99minutos.com](https://sandbox.99minutos.com) |\n| Production | [https://envios.99minutos.com/developers](https://envios.99minutos.com/developers) | [https://delivery.99minutos.com](https://delivery.99minutos.com) |\n\n`Each environment has an independent set of credentials`"
  },
  "servers": [
    {
      "url": "https://delivery.99minutos.com",
      "description": "Produccion"
    },
    {
      "url": "https://sandbox.99minutos.com",
      "description": "Sandbox Environment"
    }
  ],
  "paths": {
    "/api/v3/orders/{orderid}/confirm": {
      "post": {
        "operationId": "orders_confirm_create",
        "description": "Confirm change the value draft to False for the given order id",
        "tags": [
          "orders"
        ],
        "security": [
          {
            "AuthJWT": []
          },
          {}
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {}
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "traceId": "5f57e3c6-5933-4e1b-a9dc-f77495604a59",
                      "message": "order confirmed successfully",
                      "data": {},
                      "errors": {}
                    }
                  }
                },
                "examples": {
                  "Order confirmed": {
                    "value": {
                      "traceId": "5f57e3c6-5933-4e1b-a9dc-f77495604a59",
                      "message": "order confirmed successfully",
                      "data": {},
                      "errors": {}
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "orderid",
          "in": "path",
          "required": true,
          "description": "orderId of the order that will be confirmed"
        }
      ]
    },
    "/api/v3/orders/{id}": {
      "get": {
        "operationId": "orders_retrieve",
        "description": "Return a order given an encoded order id.\nThe order id must be MongoDB identifier",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "orders"
        ],
        "security": [
          {
            "AuthJWT": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "examples": {
                  "Retrieve order id": {
                    "value": {
                      "traceId": "7d4253dc-0785-468f-9d21-402d0797caac",
                      "message": "OK",
                      "data": [
                        {
                          "id": "aG0yvr3yDwQin97ZRjyyyVkGi4NrNEob",
                          "shipments": [
                            {
                              "sender": {
                                "firstName": "Esteban",
                                "lastName": "Ramirez",
                                "phone": "+52999999999",
                                "email": "esteban@gmail.com"
                              },
                              "recipient": {
                                "firstName": "Carlos",
                                "lastName": "Gonzalez",
                                "phone": "+52999999999",
                                "email": "esteban@gmail.com"
                              },
                              "origin": {
                                "lat": 19.413574,
                                "lng": -99.11359,
                                "address": "Av. del Taller 452, Jardín Balbuena, Álvaro Obregón, 15900 Ciudad de México, CDMX, México",
                                "country": "MEX",
                                "type": "private",
                                "reference": "Primer Piso",
                                "zipcode": "15900"
                              },
                              "destination": {
                                "lat": 19.041694,
                                "lng": -98.2035678,
                                "address": "Av 9 Pte 308, Centro histórico de Puebla, Puebla, Pue., México",
                                "country": "MEX",
                                "type": "private",
                                "reference": "Torre 3 Apartamente 905",
                                "zipcode": "72000"
                              },
                              "payments": {
                                "paymentMethod": "",
                                "cashOnDelivery": {
                                  "amount": 100,
                                  "currency": "MXN"
                                }
                              },
                              "options": {
                                "pickUpAfter": "2023-05-09T22:59:17.448000",
                                "deliveryBetween": {
                                  "start": "2023-01-01T08:00:00",
                                  "end": "2023-01-20T08:00:00"
                                },
                                "notes": "**Information to be printed on the label**"
                              },
                              "items": [
                                {
                                  "id": "6107173d-536c-4351-92ee-82a6402f19ee",
                                  "size": "l",
                                  "description": "This is the description",
                                  "weight": 1000,
                                  "length": 50,
                                  "width": 30,
                                  "height": 20
                                }
                              ],
                              "id": "aG0yvr3yDwQin97ZRjyyyVkGi4NrNEoa",
                              "internalKey": "2aa0b908-edb1-4688-afe5-34489ecf8b53",
                              "deliveryType": "SPT",
                              "trackingId": 2098099475,
                              "apiVersion": 3
                            }
                          ],
                          "account": {
                            "client_id": "",
                            "apikey": ""
                          },
                          "draft": false,
                          "createdAt": "2023-05-09T22:59:51.521000",
                          "expiresAt": "2023-07-08T22:59:51.521000"
                        }
                      ],
                      "errors": []
                    }
                  }
                }
              }
            },
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Database identifier order id"
        }
      ]
    },
    "/api/v3/orders": {
      "get": {
        "operationId": "orders_list",
        "description": "Get the list of active orders.",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "orders"
        ],
        "security": [
          {
            "AuthJWT": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrderList"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "orders_create",
        "description": "Create orders.",
        "tags": [
          "orders"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              },
              "examples": {
                "CreateOrderCoords-based": {
                  "value": {
                    "shipments": [
                      {
                        "internalKey": "",
                        "deliveryType": "SPT",
                        "sender": {
                          "firstName": "Esteban",
                          "lastName": "Ramirez",
                          "phone": "+52999999999",
                          "email": "esteban@gmail.com"
                        },
                        "recipient": {
                          "firstName": "Carlos",
                          "lastName": "Gonzalez",
                          "phone": "+52999999999",
                          "email": "esteban@gmail.com"
                        },
                        "origin": {
                          "lat": 19.413574,
                          "lng": -99.11359,
                          "address": "Av. del Taller 451, Jardín Balbuena, Álvaro Obregón, 15900 Ciudad de México, CDMX, México",
                          "country": "MEX",
                          "reference": "Primer Piso",
                          "city": "Ciudad de México",
                          "zipcode": "15900"
                        },
                        "destination": {
                          "lat": 19.041694,
                          "lng": -98.2035678,
                          "address": "Av 9 Pte 308, Centro histórico de Puebla, Puebla, Pue., México",
                          "city": "Ciudad de México",
                          "reference": "Torre 3 Apartamente 905",
                          "country": "MEX",
                          "zipcode": "72000"
                        },
                        "payments": {
                          "paymentMethod": "cash",
                          "cashOnDelivery": {
                            "amount": 100,
                            "currency": "MXN"
                          }
                        },
                        "options": {
                          "pickUpAfter": "2022-02-01T08:00:00.000Z",
                          "requiresIdentification": false,
                          "requiresSignature": false,
                          "twoFactorAuth": false,
                          "notes": "**Information to be printed on the label**"
                        },
                        "items": [
                          {
                            "size": "s",
                            "description": "lorem ipsum",
                            "weight": 1000,
                            "length": 50,
                            "width": 30,
                            "height": 20
                          }
                        ]
                      }
                    ],
                    "draft": true
                  },
                  "summary": "Create order Coords-based",
                  "description": "It is the option with the best precision to define an origin or destination. Latitude and longitude are taken to define the location"
                },
                "CreateOrderLocationId-based": {
                  "value": {
                    "shipments": [
                      {
                        "internalKey": "",
                        "deliveryType": "SPT",
                        "sender": {
                          "firstName": "Esteban",
                          "lastName": "Ramirez",
                          "phone": "+52999999999",
                          "email": "esteban@gmail.com"
                        },
                        "recipient": {
                          "firstName": "Carlos",
                          "lastName": "Gonzalez",
                          "phone": "+52999999999",
                          "email": "esteban@gmail.com"
                        },
                        "origin": {
                          "locationId": "1d9dc137-137a-4966-897b-75b5f837d319"
                        },
                        "destination": {
                          "locationId": "441a79d4-0682-4bca-a2d6-1fff4c2c86fb"
                        },
                        "payments": {
                          "paymentMethod": "cash",
                          "cashOnDelivery": {
                            "amount": 100,
                            "currency": "MXN"
                          }
                        },
                        "options": {
                          "pickUpAfter": "2022-02-01T08:00:00.000Z",
                          "requiresIdentification": false,
                          "requiresSignature": false,
                          "twoFactorAuth": false,
                          "notes": "**Information to be printed on the label**"
                        },
                        "items": [
                          {
                            "size": "s",
                            "description": "lorem ipsum",
                            "weight": 1000,
                            "length": 50,
                            "width": 30,
                            "height": 20
                          }
                        ]
                      }
                    ],
                    "draft": true
                  },
                  "summary": "Create order LocationId-based",
                  "description": "A LocationId is a uuid that identifies a single geographic point. The locationId is generated by this API (check out the Get Location id request in Locations folder). By using locationId, no further data needs to be passed. It is useful when you have the same point in several shipments since you can reuse the locationId."
                },
                "CreateOrderAddressString-based": {
                  "value": {
                    "shipments": [
                      {
                        "internalKey": "",
                        "deliveryType": "SPT",
                        "sender": {
                          "firstName": "Esteban",
                          "lastName": "Ramirez",
                          "phone": "+52999999999",
                          "email": "esteban@gmail.com"
                        },
                        "recipient": {
                          "firstName": "Carlos",
                          "lastName": "Gonzalez",
                          "phone": "+52999999999",
                          "email": "esteban@gmail.com"
                        },
                        "origin": {
                          "address": "C. de Venustiano, Centro Histórico, Cuauhtémoc, 06000 Ciudad de México, CDMX, México",
                          "country": "MEX",
                          "city": "Ciudad de México",
                          "reference": "Piso 1",
                          "zipcode": "06000"
                        },
                        "destination": {
                          "address": "Calz. del Peñón 139, Azteca, Venustiano Carranza, 15320 Ciudad de México, CDMX, México",
                          "country": "MEX",
                          "city": "Ciudad de México",
                          "zipcode": "15320"
                        },
                        "payments": {
                          "paymentMethod": "cash",
                          "cashOnDelivery": {
                            "amount": 100,
                            "currency": "MXN"
                          }
                        },
                        "options": {
                          "pickUpAfter": "2022-02-01T08:00:00.000Z",
                          "requiresIdentification": false,
                          "requiresSignature": false,
                          "twoFactorAuth": false,
                          "notes": "**Information to be printed on the label**"
                        },
                        "items": [
                          {
                            "size": "s",
                            "description": "lorem ipsum",
                            "weight": 1000,
                            "length": 50,
                            "width": 30,
                            "height": 20
                          }
                        ]
                      }
                    ],
                    "draft": true
                  },
                  "summary": "Create order Address string-based",
                  "description": "In this option the client sends only the address. We will process the address to obtain the other data. However, if the address does not contain information necessary to locate it, the system will return a 400 error and the order will not be created, so you must handle the error. It is important to emphasize that in the two previous flows there is no possibility to reject an order for the location"
                },
                "CreateOrderWithDeliveryDateRange": {
                  "value": {
                    "shipments": [
                      {
                        "internalKey": "",
                        "deliveryType": "SPT",
                        "sender": {
                          "firstName": "Esteban",
                          "lastName": "Ramirez",
                          "phone": "+52999999999",
                          "email": "esteban@gmail.com"
                        },
                        "recipient": {
                          "firstName": "Carlos",
                          "lastName": "Gonzalez",
                          "phone": "+52999999999",
                          "email": "esteban@gmail.com"
                        },
                        "origin": {
                          "address": "C. de Venustiano, Centro Histórico, Cuauhtémoc, 06000 Ciudad de México, CDMX, México",
                          "country": "MEX",
                          "reference": "Piso 1",
                          "zipcode": "06000"
                        },
                        "destination": {
                          "address": "Calz. del Peñón 139, Azteca, Venustiano Carranza, 15320 Ciudad de México, CDMX, México",
                          "country": "MEX",
                          "zipcode": "15320"
                        },
                        "payments": {
                          "paymentMethod": "cash",
                          "cashOnDelivery": {
                            "amount": 100,
                            "currency": "MXN"
                          }
                        },
                        "options": {
                          "pickUpAfter": "2022-02-01T08:00:00.000Z",
                          "deliveryBetween": {
                            "start": "2022-02-02T12:00:00.000Z",
                            "end": "2022-02-02T20:00:00.000Z"
                          },
                          "requiresIdentification": false,
                          "requiresSignature": false,
                          "twoFactorAuth": false,
                          "notes": "**Information to be printed on the label**"
                        },
                        "items": [
                          {
                            "size": "s",
                            "description": "lorem ipsum",
                            "weight": 1000,
                            "length": 50,
                            "width": 30,
                            "height": 20
                          }
                        ]
                      }
                    ],
                    "draft": true
                  },
                  "summary": "Create order with delivery date range",
                  "description": "In the options field you can set a delivery date range. Start and end keys represent date on which the package can be delivered"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "AuthJWT": []
          },
          {}
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "examples": {
                  "OrderSuccessfullyCreated": {
                    "value": {
                      "traceId": "fdecb33d-2769-458d-b319-835b1c73d8f6",
                      "message": "order created successfully",
                      "data": {
                        "id": "aFr0bwewwEm3EDChXLs2J5xbsbe3hEP5",
                        "shipments": [
                          {
                            "sender": {
                              "firstName": "Jorge benito",
                              "lastName": "Ramon",
                              "phone": "+52999797429",
                              "email": "jorge@gmail.com"
                            },
                            "recipient": {
                              "firstName": "Carlos",
                              "lastName": "Gonzalez",
                              "phone": "+52999999",
                              "email": "esteban@gmail.com"
                            },
                            "origin": {
                              "lat": 19.413574,
                              "lng": -99.11359,
                              "address": "Av. del Taller 452, Jardín Balbuena, Álvaro Obregón, 15900 Ciudad de México, CDMX, México",
                              "country": "MEX",
                              "type": "private",
                              "reference": "Primer Piso",
                              "zipcode": "15900"
                            },
                            "destination": {
                              "lat": 19.041694,
                              "lng": -98.2035678,
                              "address": "Av 9 Pte 308, Centro histórico de Puebla, Puebla, Pue., México",
                              "country": "MEX",
                              "type": "private",
                              "reference": "Torre 3 Apartamente 905",
                              "zipcode": "72000"
                            },
                            "payments": {
                              "paymentMethod": "",
                              "cashOnDelivery": {
                                "amount": 100,
                                "currency": "MXN"
                              }
                            },
                            "options": {
                              "pickUpAfter": "2022-11-15T06:33:26.166575",
                              "deliveryBetween": {
                                "start": "2022-02-02T12:00:00.000Z",
                                "end": "2022-02-02T20:00:00.000Z"
                              },
                              "notes": "**Information to be printed on the label**"
                            },
                            "items": [
                              {
                                "id": "e0f954b2-d7fe-48e6-963f-d377149944d7",
                                "size": "l",
                                "description": "This is the description",
                                "weight": 1000,
                                "length": 50,
                                "width": 30,
                                "height": 20
                              }
                            ],
                            "id": "aFr0bwewwEm3EDChXLs2J5xbsbe3hEP4",
                            "internalKey": "394e84ef-6837-48cd-b9af-9e2cf039d642",
                            "deliveryType": "SPT",
                            "trackingId": 3186136841
                          }
                        ],
                        "account": {
                          "client_id": "57c38a44-d056-4f06-8d26-1ce40d0f7f05",
                          "apikey": "7cef77a8-70e1-4649-a104-c913e5d9f5b8"
                        },
                        "draft": false,
                        "createdAt": "2022-11-15T06:33:26.921806",
                        "expiresAt": "2023-01-14T06:33:26.921806"
                      },
                      "errors": {}
                    },
                    "summary": "Order successfully created",
                    "description": "Order successfully created response"
                  }
                }
              }
            },
            "description": ""
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "248607db-e0c8-4b2c-816b-3ef0ab0ec06f",
                      "description": "ID de traza para el seguimiento interno."
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal key already exists for the client.",
                      "description": "Mensaje descriptivo del error."
                    },
                    "data": {
                      "type": "array",
                      "items": {},
                      "description": "Datos adicionales relacionados con el error."
                    },
                    "errors": {
                      "type": "object",
                      "description": "Objeto que contiene detalles específicos del error."
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "1861d6cc-11bc-4b8c-b881-c9341eedc5df",
                      "description": "ID de traza para el seguimiento interno."
                    },
                    "message": {
                      "type": "string",
                      "example": "The body data is invalid. Please check the docs",
                      "description": "Mensaje descriptivo del error."
                    },
                    "data": {
                      "type": "array",
                      "items": {},
                      "example": [],
                      "description": "Datos adicionales relacionados con el error."
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "shipments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "destination": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "example": [
                                      "You must provide an address."
                                    ]
                                  }
                                },
                                "description": "Detalles de los errores relacionados con la dirección de destino."
                              }
                            }
                          },
                          "description": "Objeto que contiene detalles específicos del error para los envíos."
                        }
                      },
                      "description": "Objeto que contiene detalles específicos del error."
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseJWT"
                },
                "examples": {
                  "ExampleErrorTokenResponse": {
                    "value": {
                      "message": "Jwt is expired",
                      "code": 401
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traceId": {
                      "type": "string",
                      "example": "5896c0d9-bccf-4b5d-a8fa-b8859a2fa9e2",
                      "description": "ID de traza para el seguimiento interno."
                    },
                    "message": {
                      "type": "string",
                      "example": "There is no coverage for the selected origin and destination. If you wish to validate our coverage in advance, please go to the /coverage endpoints",
                      "description": "Mensaje descriptivo del error."
                    },
                    "data": {
                      "type": "array",
                      "items": {},
                      "example": [],
                      "description": "Datos adicionales relacionados con el error."
                    },
                    "errors": {
                      "type": "object",
                      "description": "Objeto que contiene detalles específicos del error."
                    }
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/orders/multibox": {
      "post": {
        "operationId": "orders_multibox_create",
        "description": "Create a multibox order that groups multiple packages (children) under a single parent order (master). All children share the same origin, destination, sender and recipient. Useful when a single shipment contains multiple parcels that must travel together.\n\nMinimum 1 child, maximum 20 children per order.\n\n",
        "tags": [
          "orders"
        ],
        "security": [
          {
            "AuthJWT": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiboxRequest"
              },
              "examples": {
                "MultiboxOrderExample": {
                  "value": {
                    "deliveryType": "SMD",
                    "packageSize": "xs",
                    "destination": {
                      "address": "Calz. Gral. Mariano Escobedo 595, Ciudad de Mexico, Miguel Hidalgo, Bosque de Chapultepec I Secc, 11580",
                      "country": "MEX",
                      "zipcode": "11580",
                      "lat": 0,
                      "lng": 0
                    },
                    "origin": {
                      "address": "C. PUENTE 186 S/N COAPA TLALPAN CD DE MEXICO",
                      "country": "MEX",
                      "zipcode": "14390",
                      "lat": 0,
                      "lng": 0
                    },
                    "options": {
                      "notes": "Dejar en puerta"
                    },
                    "sender": {
                      "firstName": "Cecilia",
                      "lastName": "Magana",
                      "email": "cecilia@99minutos.com",
                      "phone": "+525555555544"
                    },
                    "recipient": {
                      "firstName": "Laura",
                      "lastName": "Flores",
                      "email": "laura@99minutos.com",
                      "phone": "+525533668777"
                    },
                    "internalKey": "test123-1234567890123-0123456789",
                    "children": [
                      {
                        "internalKey": "test123-1234567-1",
                        "items": [
                          {
                            "weight": 300,
                            "height": 10,
                            "width": 10,
                            "length": 10,
                            "size": "xs"
                          }
                        ]
                      }
                    ]
                  },
                  "summary": "Create multibox order",
                  "description": "Example payload for creating a multibox order with one child package"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multibox order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiboxResponse"
                },
                "examples": {
                  "MultiboxSuccessResponse": {
                    "value": {
                      "traceId": "abc123def456",
                      "message": "Multibox order received successfully",
                      "data": {
                        "master": "99M-XXXXXXXXXX",
                        "children": [
                          {
                            "tracking_id": "99M-YYYYYYYYYY",
                            "internal_key": "test123-1234567-1",
                            "client_id": "client-id-123"
                          }
                        ]
                      },
                      "errors": []
                    },
                    "summary": "Multibox order created",
                    "description": "Successful multibox order creation response"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body. The JSON payload could not be parsed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiboxErrorResponse"
                },
                "examples": {
                  "InvalidRequestBody": {
                    "value": {
                      "traceId": "abc123def456",
                      "errors": [
                        {
                          "code": "GENERIC_INVALID_PARAMETERS",
                          "message": "Invalid request body"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error. JWT is missing, malformed, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiboxErrorResponse"
                },
                "examples": {
                  "JWTExpired": {
                    "value": {
                      "traceId": "abc123def456",
                      "errors": [
                        {
                          "code": "JWT_EXPIRED",
                          "message": "JWT token has expired"
                        }
                      ]
                    }
                  },
                  "JWTMissing": {
                    "value": {
                      "error": "Missing or invalid JWT token",
                      "code": "401"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation or business rule error. The request fields do not meet the required validations or a business rule was not satisfied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiboxErrorResponse"
                },
                "examples": {
                  "ValidationError": {
                    "value": {
                      "traceId": "abc123def456",
                      "errors": [
                        {
                          "code": "GENERIC_INVALID_PARAMETERS",
                          "message": "origin.address must be between 10 and 300 characters",
                          "field": "origin.address"
                        }
                      ]
                    }
                  },
                  "CustomerInactive": {
                    "value": {
                      "traceId": "abc123def456",
                      "errors": [
                        {
                          "code": "CUSTOMER_INACTIVE",
                          "message": "Customer is not active"
                        }
                      ]
                    }
                  },
                  "InternalKeyAlreadyExists": {
                    "value": {
                      "traceId": "abc123def456",
                      "errors": [
                        {
                          "code": "INTERNAL_KEY_ALREADY_EXISTS",
                          "message": "internalKey 'test123' already exists"
                        }
                      ]
                    }
                  },
                  "DeliveryTypeNotActive": {
                    "value": {
                      "traceId": "abc123def456",
                      "errors": [
                        {
                          "code": "CUSTOMER_DELIVERY_TYPE_NOT_ACTIVE",
                          "message": "Delivery type SMD is not active for the customer"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. An unexpected error occurred during order processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiboxErrorResponse"
                },
                "examples": {
                  "GeocodingError": {
                    "value": {
                      "traceId": "abc123def456",
                      "errors": [
                        {
                          "code": "GEOCODING_SERVICE_ERROR",
                          "message": "Geocoding service returned empty response"
                        }
                      ]
                    }
                  },
                  "StateMachineError": {
                    "value": {
                      "traceId": "abc123def456",
                      "errors": [
                        {
                          "code": "STATE_MACHINE_ERROR_RESPONSE",
                          "message": "state machine returned status code: 500"
                        }
                      ]
                    }
                  },
                  "GenericError": {
                    "value": {
                      "traceId": "abc123def456",
                      "errors": [
                        {
                          "code": "GENERIC_500_ERROR",
                          "message": "Internal server error"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/coverage/zipcodes/{country}": {
      "get": {
        "operationId": "GetZipCodesByCountry",
        "description": "Return list of postal codes by country paginated",
        "tags": [
          "coverage"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "country",
            "schema": {
              "type": "string",
              "enum": [
                "MEX"
              ]
            },
            "description": "Filter for search postal codes",
            "required": true
          },
          {
            "in": "query",
            "name": "deliveryType",
            "schema": {
              "type": "string",
              "enum": [
                "RET",
                "NXD"
              ]
            },
            "description": "delivery types with postal codes",
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Limit of codes by page",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "Page",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "codes": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": ""
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "string",
                          "description": ""
                        },
                        "limit": {
                          "type": "string",
                          "description": ""
                        },
                        "totalPages": {
                          "type": "string",
                          "description": ""
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "ReturnGuidesResponse": {
                    "value": {
                      "codes": [
                        "546783",
                        "1234323"
                      ],
                      "metadata": {
                        "page": "1",
                        "limit": "2",
                        "totalPages": "760"
                      }
                    },
                    "summary": "return postal codes response",
                    "description": "return postal codes"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/documents/guides": {
      "post": {
        "operationId": "documents_guides_create",
        "description": "Return a list of pdf guides for the given identifiers.\n\nAllowed sizes\n\n| Value | Description |\n| --- | --- |\n| letter | Document size of 9 x 11 |\n| zebra | Document size of 4 x 6 |\n| small | Document size of 4 x 3 |\n\nAll sizes are inches",
        "tags": [
          "documents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuidesRequest"
              },
              "examples": {
                "ReturnGuidesExample": {
                  "value": {
                    "guides": [
                      {
                        "identifier": "B345SN3IS2",
                        "size": "zebra"
                      },
                      {
                        "identifier": "648cb66d-2f81-49b9-ab91-eb3937aecc0b",
                        "size": "letter"
                      }
                    ]
                  },
                  "summary": "Return guides example",
                  "description": "Return guides payload"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GuidesRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/GuidesRequest"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "AuthJWT": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuideResponse"
                },
                "examples": {
                  "ReturnGuidesResponse": {
                    "value": {
                      "traceId": "4dca8e6b-104e-4376-a5ab-ea0690cc0233",
                      "message": "Successful pdf guides.",
                      "data": [
                        {
                          "id": "B345SN3IS2",
                          "pdf": "JVBERi0xLjQKJZOMi54gUmVwb3J0TGFiIEd"
                        },
                        {
                          "id": "648cb66d-2f81-49b9-ab91-eb3937aecc0b",
                          "pdf": "unknown shipment"
                        }
                      ],
                      "errors": {}
                    },
                    "summary": "return guides response",
                    "description": "return guides"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/documents/zpl": {
      "post": {
        "operationId": "documents_zpl_create",
        "description": "ZPL returns a list of ZPL based on the received identifiers.",
        "tags": [
          "documents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZplRequest"
              },
              "examples": {
                "CreateZplExample": {
                  "value": {
                    "identifiers": [
                      "648cb66d-2f81-49b9-ab91-eb3937aecc0b",
                      "4fcccf64-82ba-40c0-b6b9-943b7869c2bf",
                      "a614197d-c533-4282-91b9-ca9b0d1fcfb8"
                    ]
                  },
                  "summary": "Create zpl example",
                  "description": "Create zpl payload"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ZplRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ZplRequest"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "AuthJWT": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZplResponse"
                },
                "examples": {
                  "CreateZplResponse": {
                    "value": {
                      "traceId": "061876eb-d0ec-431a-aceb-215ca0039ad0",
                      "message": "Successful ZPL.",
                      "data": [
                        {
                          "id": "648cb66d-2f81-49b9-ab91-eb3937aecc0b",
                          "zpl": "^XA\n                                        ^FO600,20^GB150,120,3^FS\n                                        ^CFA,14\n                                        ^FO610,60^FD Sprint  ^FS\n                                        ^CFA,12\n                                        ^FO610,90^FD Envio de entrega ^FS\n                                        ^FO610,100^FD dia siguiente ^FS\n                                        ^FO 20,20^GFA,1300,1300,13,,:Y018,Y054,Y032,g098,Y080C,X0D003,R018J03I08,T08,N03K03J02002,N0C6O03001,M082CK0880030048,M0EN07K064,L06004L018J014,L08K0108102J019,K01069EK04084J048,L018EL01702001,J03621N0C00124004,J0240CN0880661004,J0819O01I04A008,I01014P01J0C08,L08S0208,I04S018C00E04,J084T02I0C,J024T020098,J09T06101B,00218T02I06,00302T010404,003V0524,008V02,I0CV0C9,0289V061,I04W01,0414V0A1,002J01CK01CJ0208,0028001FFEI01FFEJ028,013I03IF8003IF8I022,011I07IFC00JFCJ02,08J0JFE01JFE00116,026001KF01KF00108,166003FFBFF83FF3FF80108,004003FC07F83FC07F80081,204007F803FC7F803F8008,2J07F001FC7F003FC,3J07F001FC7F001FC,004007F001FC7F001FC00228,104007F001FE7F001FCI03,K07F001FE7F001FE001,K07F001FE7F001FE,K07F803FE7F803FE,K03FC07FE7FC07FE,K03FF1FFE3FF1FFE,1J01KFE3KFE,1J01KFE1KFC,1K0KFC0KFC004,6K07JFC07JFC0021,61J01JFC01JFC0021,2L03E1FC003E3FC002,2N03FCJ03FC002,204L03FCJ03F8J08,204L07F8J07F8,004L07F8J07F8,04M0FFK0FFJ04,2A4I0103FF00103FFJ04,L03IFE003IFEJ05,04J07IFC007IFCJ01,041I0JFC00JFC002,001001JF801JFI0202,001I0IFEI0IFE,0014003FF8I03FF8I01,0408V09,0401V088,0205U01808,0124U0221,01208V01,J08T010A,00C82T0904,00481S018,I082S0246,I0604R0823,I0616Q01002,I08V04,I05404P07064,I02083R088,L038O0317,M04M0183,J01001M06B,K028018L0381,K01R0A,K06K0C0DJ08,K01L02J03,L046N01C,L031N0F,V04,,N07I02038,O0107FE8,Q01,,^FS\n                                        ^CF0,40\n                                        ^FO120,70^FDminutos.com^FS\n                                        ^CFA,18\n                                        ^FO20,150^FD No. De Guia : 939888484  ^FS\n                                        ^FO20,180^FD Fecha de creado : 2021-04-30  ^FS\n                                        ^FO400,130^GB80,80,3^FS\n                                        ^CFA,14\n                                        ^FO380,110^FD Zonificacion ^FS\n                                        ^CFA,13\n                                        ^FO425,170^FD ^FS\n                                        ^CF0,24\n                                        ^FO20,250^FD Origen ^FS\n                                        ^CFA,13\n                                        ^FO20,300^FD Direccion : Viena 4837, Villa Verde, Verde, 80184 Cu - ^FS\n                                        ^CFA,13\n                                        ^FO20,335^FD liacán Rosales, Sin., México,,80184,mex  ^FS\n                                        ^FO20,365^FD   ^FS\n                                        ^CFA,14\n                                        ^FO20,400^FD Remitente : Alfonso  ^FS\n                                        ^CF0,24\n                                        ^FO20,450^FD Destino ^FS\n                                        ^CFA,13\n                                        ^FO20,490^FD Direccion : C.Monte Camerun 145, Lomas de Chapultepe -  ^FS\n                                        ^FO20,520^FD c, Miguel Hidalgo, 11000 Ciudad de Méxic  ^FS\n                                        ^FO20,560^FD éxico,,11000,MEX  ^FS\n                                        ^CFA,14\n                                        ^FO20,590^FD Destinatario :  ^FS\n                                        ^FO20,620^FD  Pedro Salas  ^FS\n                                        ^CF0,24\n                                        ^FO390,250^FD Informacion del pedido ^FS\n                                        ^CFA,18\n                                         ^CI28\n                                        ^FO390,300^FD Tamaño : dia siguiente  ^FS\n                                        ^FO390,340^FD Modalidad : Sprint  ^FS\n                                        ^CF0,24\n                                        ^FO390,450^FD Especificaciones ^FS\n                                        ^CFA,18\n                                        ^FO390,490^FD Cobro : No  ^FS\n                                        ^FO390,520^FD Recolecta : Alfonso  ^FS\n                                        ^FO390,570^FD Notas : #id | Cobro: No |  Recibe: Pedro Salas | Recolecta con: Alfo  ^FS\n                                        ^CFA,13\n                                        ^FO390,600^FD  nso | Orden de prueb  ^FS\n                                        ^FO390,620^FD  acking  ^FS\n                                        ^FO390,640^FD    ^FS\n                                        ^FX\n                                        ^FO50,690^GB700,250,3^FS\n                                        ^FO400,690^GB1,230,3^FS\n                                        ^CF0,40\n                                        ^FO150,750^BQ,2,6^FDLA 939888484 ^FS\n                                        ^CF0,190\n                                        ^FO470,955^FD\n                                        ^BY2,1,150\n                                        ^FO430,720^BC^FD 939888484 ^FS\n                                        ^FS\n                                        ^XZ"
                        },
                        {
                          "id": "4fcccf64-82ba-40c0-b6b9-943b7869c2bf",
                          "zpl": "^XA\n                                        ^FO600,20^GB150,120,3^FS\n                                        ^CFA,14\n                                        ^FO610,60^FD Sprint  ^FS\n                                        ^CFA,12\n                                        ^FO610,90^FD Envio de entrega ^FS\n                                        ^FO610,100^FD dia siguiente ^FS\n                                        ^FO 20,20^GFA,1300,1300,13,,:Y018,Y054,Y032,g098,Y080C,X0D003,R018J03I08,T08,N03K03J02002,N0C6O03001,M082CK0880030048,M0EN07K064,L06004L018J014,L08K0108102J019,K01069EK04084J048,L018EL01702001,J03621N0C00124004,J0240CN0880661004,J0819O01I04A008,I01014P01J0C08,L08S0208,I04S018C00E04,J084T02I0C,J024T020098,J09T06101B,00218T02I06,00302T010404,003V0524,008V02,I0CV0C9,0289V061,I04W01,0414V0A1,002J01CK01CJ0208,0028001FFEI01FFEJ028,013I03IF8003IF8I022,011I07IFC00JFCJ02,08J0JFE01JFE00116,026001KF01KF00108,166003FFBFF83FF3FF80108,004003FC07F83FC07F80081,204007F803FC7F803F8008,2J07F001FC7F003FC,3J07F001FC7F001FC,004007F001FC7F001FC00228,104007F001FE7F001FCI03,K07F001FE7F001FE001,K07F001FE7F001FE,K07F803FE7F803FE,K03FC07FE7FC07FE,K03FF1FFE3FF1FFE,1J01KFE3KFE,1J01KFE1KFC,1K0KFC0KFC004,6K07JFC07JFC0021,61J01JFC01JFC0021,2L03E1FC003E3FC002,2N03FCJ03FC002,204L03FCJ03F8J08,204L07F8J07F8,004L07F8J07F8,04M0FFK0FFJ04,2A4I0103FF00103FFJ04,L03IFE003IFEJ05,04J07IFC007IFCJ01,041I0JFC00JFC002,001001JF801JFI0202,001I0IFEI0IFE,0014003FF8I03FF8I01,0408V09,0401V088,0205U01808,0124U0221,01208V01,J08T010A,00C82T0904,00481S018,I082S0246,I0604R0823,I0616Q01002,I08V04,I05404P07064,I02083R088,L038O0317,M04M0183,J01001M06B,K028018L0381,K01R0A,K06K0C0DJ08,K01L02J03,L046N01C,L031N0F,V04,,N07I02038,O0107FE8,Q01,,^FS\n                                        ^CF0,40\n                                        ^FO120,70^FDminutos.com^FS\n                                        ^CFA,18\n                                        ^FO20,150^FD No. De Guia : 939888484  ^FS\n                                        ^FO20,180^FD Fecha de creado : 2021-04-30  ^FS\n                                        ^FO400,130^GB80,80,3^FS\n                                        ^CFA,14\n                                        ^FO380,110^FD Zonificacion ^FS\n                                        ^CFA,13\n                                        ^FO425,170^FD ^FS\n                                        ^CF0,24\n                                        ^FO20,250^FD Origen ^FS\n                                        ^CFA,13\n                                        ^FO20,300^FD Direccion : Viena 4837, Villa Verde, Verde, 80184 Cu - ^FS\n                                        ^CFA,13\n                                        ^FO20,335^FD liacán Rosales, Sin., México,,80184,mex  ^FS\n                                        ^FO20,365^FD   ^FS\n                                        ^CFA,14\n                                        ^FO20,400^FD Remitente : Alfonso  ^FS\n                                        ^CF0,24\n                                        ^FO20,450^FD Destino ^FS\n                                        ^CFA,13\n                                        ^FO20,490^FD Direccion : C.Monte Camerun 145, Lomas de Chapultepe -  ^FS\n                                        ^FO20,520^FD c, Miguel Hidalgo, 11000 Ciudad de Méxic  ^FS\n                                        ^FO20,560^FD éxico,,11000,MEX  ^FS\n                                        ^CFA,14\n                                        ^FO20,590^FD Destinatario :  ^FS\n                                        ^FO20,620^FD  Pedro Salas  ^FS\n                                        ^CF0,24\n                                        ^FO390,250^FD Informacion del pedido ^FS\n                                        ^CFA,18\n                                         ^CI28\n                                        ^FO390,300^FD Tamaño : dia siguiente  ^FS\n                                        ^FO390,340^FD Modalidad : Sprint  ^FS\n                                        ^CF0,24\n                                        ^FO390,450^FD Especificaciones ^FS\n                                        ^CFA,18\n                                        ^FO390,490^FD Cobro : No  ^FS\n                                        ^FO390,520^FD Recolecta : Alfonso  ^FS\n                                        ^FO390,570^FD Notas : #id | Cobro: No |  Recibe: Pedro Salas | Recolecta con: Alfo  ^FS\n                                        ^CFA,13\n                                        ^FO390,600^FD  nso | Orden de prueb  ^FS\n                                        ^FO390,620^FD  acking  ^FS\n                                        ^FO390,640^FD    ^FS\n                                        ^FX\n                                        ^FO50,690^GB700,250,3^FS\n                                        ^FO400,690^GB1,230,3^FS\n                                        ^CF0,40\n                                        ^FO150,750^BQ,2,6^FDLA 939888484 ^FS\n                                        ^CF0,190\n                                        ^FO470,955^FD\n                                        ^BY2,1,150\n                                        ^FO430,720^BC^FD 939888484 ^FS\n                                        ^FS\n                                        ^XZ"
                        }
                      ],
                      "errors": {}
                    },
                    "summary": "Create zpl response",
                    "description": "Create zpl response"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/locations": {
      "post": {
        "operationId": "locations_create",
        "description": "Get the location id of a given address Through this endpoint you can exchange an address for a location id. The purpose of this exchange is that later, in a second request, you can include the location id as origin or destination to create an order. Using this flow you won't need to include any more information and you can always reuse the location id for that point.",
        "tags": [
          "locations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewLocation"
              },
              "examples": {
                "LocationPayloadExample": {
                  "value": {
                    "addresses": [
                      "Calle Zoquipa 196, El Parque, Venustiano Carranza, 15960 Ciudad de México, CDMX, México",
                      "Calle del Correo Mayor 112, Centro, Cuauhtémoc, Ciudad de México, CDMX, México"
                    ],
                    "city": "Cuauhtémoc",
                    "country": "MEX"
                  },
                  "summary": "Location payload example",
                  "description": "Location payload."
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewLocation"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/NewLocation"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "AuthJWT": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationsResponse"
                },
                "examples": {
                  "LocationResponse": {
                    "value": {
                      "traceId": "ec1d12ad-48dc-4628-99a5-0db1cc8b2bba",
                      "message": "OK",
                      "data": [
                        {
                          "address": "Calle Zoquipa 196, El Parque, Venustiano Carranza, 15960 Ciudad de México, CDMX, Mexico",
                          "latitude": "19.417688",
                          "longitude": "-99.118484",
                          "locationId": "3aefcb54-698f-43e9-9b1f-252ac72f6cfd",
                          "locationType": "private",
                          "geoType": "ROOFTOP"
                        },
                        {
                          "address": "Calle del Correo Mayor 112, Centro Histórico de la Cdad. de México, Centro, Cuauhtémoc, 06090 Ciudad de México, CDMX, Mexico",
                          "latitude": "19.427275",
                          "longitude": "-99.13072",
                          "locationId": "04639da9-63f4-40ab-a8c3-8fff2f2509e3",
                          "locationType": "private",
                          "geoType": "ROOFTOP"
                        }
                      ],
                      "errors": {}
                    },
                    "summary": "Location response",
                    "description": "Location response"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/locations/all": {
      "get": {
        "operationId": "locations_all_retrieve",
        "description": "Location viewset.",
        "parameters": [
          {
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string"
            },
            "description": "Country"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "exclusiveMaximum": true
            },
            "description": "Page of the response."
          }
        ],
        "tags": [
          "locations"
        ],
        "security": [
          {
            "AuthJWT": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllLocationResponse"
                },
                "examples": {
                  "AllLocationsResponse": {
                    "value": {
                      "traceId": "1c9eb6f1-9f7d-477d-9032-fd531e713e14",
                      "message": "All locations retrieved succesfully.",
                      "data": [
                        {
                          "description": null,
                          "address": "Novedades Montecarlo, S.A. De C.V., Calle Avena, Granjas México, Ciudad de México, CDMX, México",
                          "latitude": "19.4013975",
                          "longitude": "-99.0949735",
                          "locationId": "59ce70e8-4ba9-47b9-8e88-a3796560198a",
                          "country": "MEX",
                          "schedule": {
                            "friday": {
                              "opens": "07:30",
                              "closed": false,
                              "closes": "17:00"
                            },
                            "monday": {
                              "opens": "01:02",
                              "closed": false,
                              "closes": "17:00"
                            },
                            "sunday": {
                              "opens": "08:00",
                              "closed": true,
                              "closes": "19:00"
                            },
                            "tuesday": {
                              "opens": "07:30",
                              "closed": false,
                              "closes": "17:00"
                            },
                            "saturday": {
                              "opens": "08:00",
                              "closed": false,
                              "closes": "14:00"
                            },
                            "thursday": {
                              "opens": "07:30",
                              "closed": false,
                              "closes": "17:00"
                            },
                            "time_zone": "America/Mexico_City",
                            "wednesday": {
                              "opens": "07:30",
                              "closed": false,
                              "closes": "17:00"
                            }
                          },
                          "zipcode": "08400",
                          "locationType": "p99"
                        },
                        {
                          "description": "Masaryk 29",
                          "address": "Avenida Presidente Masaryk 29, Polanco, Polanco V Sección, Ciudad de México, CDMX, México",
                          "latitude": "19.4315008",
                          "longitude": "-99.1823602",
                          "locationId": "013c75b6-a027-4595-b405-10d82250aa0b",
                          "country": "MEX",
                          "schedule": {
                            "friday": {
                              "opens": "09:00",
                              "closed": false,
                              "closes": "18:00"
                            },
                            "monday": {
                              "opens": "09:00",
                              "closed": false,
                              "closes": "18:00"
                            },
                            "sunday": {
                              "opens": "08:00",
                              "closed": true,
                              "closes": "19:00"
                            },
                            "tuesday": {
                              "opens": "09:00",
                              "closed": false,
                              "closes": "18:00"
                            },
                            "saturday": {
                              "opens": "08:00",
                              "closed": true,
                              "closes": "19:00"
                            },
                            "thursday": {
                              "opens": "09:00",
                              "closed": false,
                              "closes": "18:00"
                            },
                            "time_zone": "America/Mexico_City",
                            "wednesday": {
                              "opens": "09:00",
                              "closed": false,
                              "closes": "18:00"
                            }
                          },
                          "zipcode": "11560",
                          "locationType": "p99"
                        }
                      ],
                      "next": "https://sandbox.99minutos.com/api/v3/locations/all?page=2",
                      "previous": null,
                      "errors": {}
                    },
                    "summary": "All locations response",
                    "description": "All locations response"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/locations/nearest": {
      "post": {
        "operationId": "locations_nearest_create",
        "description": "Location viewset.",
        "tags": [
          "locations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NearestRequest"
              },
              "examples": {
                "NearestPayloadExample": {
                  "value": {
                    "distance": 5000,
                    "address": "Planta Ixtapantongo #62, col. Electra, CP: 54060",
                    "includeP99": false,
                    "city": "Tlalnepantla de Baz",
                    "country": "MEX"
                  },
                  "summary": "Nearest payload example",
                  "description": "Nearest payload."
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NearestRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/NearestRequest"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "AuthJWT": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NearestResponse"
                },
                "examples": {
                  "NearestResponse": {
                    "value": {
                      "traceId": "3e724f8a-70e4-4c59-bad6-bf19c228c85a",
                      "message": "Nearest location to the given point retrieved successfully.",
                      "data": [
                        {
                          "description": "Venta de abarrotes",
                          "latitude:": 19.4717429,
                          "longitude": -99.1406644,
                          "distance": 3964.2093,
                          "address": "Albéniz 4443, Guadalupe Victoria, 07790 Ciudad de México, CDMX, México",
                          "locationId": "67427e39-638d-4f18-a53a-e4802f351d41",
                          "locationType": "p99",
                          "zipcode": "07790"
                        },
                        {
                          "description": "Oficina  de suplementos",
                          "latitude:": 19.4008331,
                          "longitude": -99.1344385,
                          "distance": 4033.1268,
                          "address": "Calle José Antonio Torres 812, Viaducto Piedad, Ciudad de México, CDMX, México",
                          "locationId": "90ca79c2-d8ca-4df3-94e7-524a657979e9",
                          "locationType": "p99",
                          "zipcode": "08200"
                        }
                      ],
                      "errors": {}
                    },
                    "summary": "Nearest response",
                    "description": "Nearest response"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/oauth/token": {
      "post": {
        "operationId": "oauth_token_create",
        "description": "Request an access token sending the client credentials.",
        "tags": [
          "oauth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenSerializers"
              },
              "examples": {
                "ExampleClientCredentials": {
                  "value": {
                    "client_id": "123e4567-e89b-12d3-a456-426655440000",
                    "client_secret": "asdfgasdf.$~.pS"
                  },
                  "summary": "Example client credentials",
                  "description": "Request an access token"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenSerializers"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/TokenSerializers"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenSerializers"
                },
                "examples": {
                  "ExampleSuccessResponse": {
                    "value": {
                      "access_token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMiwiZXhwIjoxNTE2MjM5MzIyfQ.DdaLEKqWoX5SmxZrRH_xPazoHyBPxv589Q_I_ZX9ZwR-5J49Ry7jUiT1i7OIu-vhK8ZdBCig9CWTev4NXa1rzo5i41w_ZQAF3eWeda5gzJTXFmdgBM1hAtDnG-843X6NNCPQr9aegwJyrs92s12d8vITQR9h1M78jwu_UgWedSO87uLi2GLVsy7QhynnCRaTKQa_DXXRAXkaqemywOpKf221dRd1IsdBCRYXQSJDkkxViEwqtY3vAFAT5fM6iIzbfXgsuCH7bwLExq7oVoUkWE-HeXcQ3C3FXQh3cTX9W-02v1dpAT2RbpR0kHijOybA0euZ5V3mbPZzR8waOLXElA",
                      "expires_in": 3599,
                      "token_type": "bearer",
                      "traceId": "22df996f-460c-45f6-baa9-7465d366c32b"
                    },
                    "summary": "Example success response",
                    "description": "New token created"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/shipments/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "trackingId or internalKey"
        }
      ],
      "get": {
        "summary": "",
        "tags": [
          "shipments"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ShipmentDetailResponse"
          }
        },
        "operationId": "get-api-v3-shipments-id",
        "description": "Return a shipment given an trackingId or internalKey",
        "security": [
          {
            "AuthJWT": []
          }
        ]
      },
      "patch": {
        "operationId": "shipments_partial_update",
        "description": "Update the destination address of a shipment. The shipment must be in one of the following statuses:\n\nDRAFT\nCONFIRMED\nUNSUCCESSFULLPICKUP\nONROADTOPICKUP\nCOLLECTED\nSTORED",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "shipments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchedShipmentUpdate"
              },
              "examples": {
                "Payload example": {
                  "value": {
                    "destination": {
                      "address": "Cda. de Guaymas 8, Roma Nte., Cuauhtémoc, 06700 Ciudad de México, CDMX, Mexico",
                      "country": "MEX",
                      "reference": "Torre 3 Apartamente 905",
                      "zipcode": "15900"
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "security": [
          {
            "AuthJWT": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentUpdate"
                },
                "examples": {
                  "Example response": {
                    "value": {
                      "traceId": "ad050ab1-9344-4753-b2ce-d5a218de14f8",
                      "message": "OK",
                      "data": {
                        "sender": {
                          "firstName": "Esteban",
                          "lastName": "Ramirez",
                          "phone": "+52999999999",
                          "email": "esteban@gmail.com"
                        },
                        "recipient": {
                          "firstName": "Carlos",
                          "lastName": "Gonzalez",
                          "phone": "+52999999999",
                          "email": "esteban@gmail.com"
                        },
                        "origin": {
                          "locationId": "2753165a-c300-4710-ad69-a7a766a939c2",
                          "lat": 19.410353,
                          "lng": -99.09836,
                          "address": "Av. del Taller 452, Jardín Balbuena, Álvaro Obregón, 15900 Ciudad de México, CDMX, México",
                          "country": "MEX",
                          "type": "private",
                          "reference": "Primer Piso",
                          "zipcode": "15900"
                        },
                        "destination": {
                          "locationId": "d20f80ab-ce65-4424-a359-04b9ba6b48f5",
                          "lat": 19.425213,
                          "lng": -99.153984,
                          "address": "Cda. de Guaymas 8, Roma Nte., Cuauhtémoc, 06700 Ciudad de México, CDMX, Mexico",
                          "country": "MEX",
                          "type": "private",
                          "reference": "Torre 3 Apartamente 905",
                          "zipcode": "15900"
                        },
                        "payments": {
                          "paymentMethod": "cash",
                          "cashOnDelivery": {
                            "amount": 100,
                            "currency": "MXN"
                          }
                        },
                        "options": {
                          "pickUpAfter": "2022-10-24T23:22:51.057000",
                          "deliveryBetween": {},
                          "notes": "**Information to be printed on the label**"
                        },
                        "items": [
                          {
                            "id": "e034e8e4-4f35-4156-be4b-7b9cac4e4224",
                            "size": "l",
                            "description": "This is the description",
                            "weight": 1000,
                            "length": 50,
                            "width": 30,
                            "height": 20
                          }
                        ],
                        "id": "aFqvmecyn29mAJ182qnS6vo1kLDtoKYi",
                        "internalKey": "1f5907e6-ae32-4c98-98e7-6f5bc8d2da82",
                        "deliveryType": "SPT",
                        "trackingId": 2753512370,
                        "deactivated": false
                      },
                      "errors": ""
                    }
                  }
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "summary": "",
        "operationId": "delete-api-v3-shipments-id",
        "description": "Cancels an order by trackingId or internalKey.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "reason": "Lorem impsm"
                  }
                },
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Reason for cancellation"
                  }
                },
                "required": [
                  "reason"
                ]
              },
              "examples": {
                "Reason Cancellation example": {
                  "value": {
                    "reason": "El cliente canceló"
                  }
                }
              }
            }
          },
          "description": "Must provide a reason"
        },
        "tags": [
          "shipments"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ShipmentDeactiveResponse"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "trackingId",
                "internalKey"
              ],
              "example": "trackingId"
            },
            "in": "query",
            "name": "by",
            "description": "specifies whether the order is to be searched by trackingId or internalKey"
          }
        ],
        "security": [
          {
            "AuthJWT": []
          }
        ]
      }
    },
    "/api/v3/shipments/tracking": {
      "get": {
        "operationId": "shipments_tracking_retrieve",
        "description": "Track a shipment by the given identifier. Get all information about the shipments with the related events and data. **Remember that if you are thinking of implementing a recurring pull system on this endpoint, you must limit requests to a maximum of 8 per second. However, we also offer a real-time webhook notification system so you get every change in the status of the shipments, which is more efficient than pulling. For more information go to the webhooks section**\n\n| **STATUS CODE** | **STATUS NAME** | **DESCRIPTION** |\n| --- | --- | --- |\n| 1001 | DRAFT | It is the first status when the shipment is created `in draft mode`. It means that the shipment is not yet ready by the client and its flow will not start until it is confirmed. Note that the draft value is passed when creating the order and defaults to false. Therefore, this status is only passed through if the draft was previously set to true when creating the order. |\n| 1002 | CONFIRMED | The shipment has been confirmed. It is the first status to trigger the logistics operation. It is the first default state when creating an order (false draft) or when confirming a shipment that was previously created as a draft. |\n| 2002 | ON_ROAD_TO_PICKUP | The shipment is on its way to be picked up. So a driver is heading to the point of origin. *`Does not apply to p99`* |\n| 2003 | COLLECTED | The shipment has been collected and is in the domain of an associated driver of 99minutos. |\n| 2101 | UNSUCCESSFUL_PICKUP | The shipment could not be collected. Within the response object, the attempt attribute is added with the number of collection attempts. `See examples` |\n| 3001 | STORED | The shipment is stored in a wharehouse for 99minutos. |\n| 3004 | ON_LINEHAUL | The shipment is in transit between stations for 99minutos `Not all shipments go through this state.` |\n| 4001 | ON_ROAD_TO_DELIVERY | The shipment has left the network of 99minutos stations to the final destination |\n| 4002 | DELIVERED | The shipment has been successfully delivered to its recipient |\n| 4101 | UNSUCCESSFUL_DELIVERY | The shipment could not be delivered. Inside the response object, the attempt attribute is added with the number of delivery attempts. `See examples` |\n| 5001 | ON_ROAD_TO_RETURN | Shipping on the way to return. The return occurs when it is not possible to deliver the package to the recipient and it is returned to the origin |\n| 5002 | RETURNED | The shipment has been returned to the origin successfully |\n| 5101 | UNSUCCESSFUL_RETURN | The shipment could not be returned. Inside the response object, the attempt attribute is added with the number of return attempts. `See examples` |\n| 7101 | IN_CORRECTION | In some cases the information of origin, destination, etc. may not be precise enough to make the shipment. Therefore, this status indicates that some information of the shipment must be corrected. |\n| 7102 | CORRECTED | If the shipment required correction, it indicates that this has already been done. |\n| 8001 | STOLEN | In extremely rare cases for reasons other than 99minutos the shipment is stolen. `This is extremely rare.` |\n| 8003 | CANCELLED | The shipment has been canceled via API by the client |\n| 8004 | DAMAGED | The shipment was damaged during delivery. |",
        "parameters": [
          {
            "in": "query",
            "name": "identifier",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "The identifier represent a internalKey or trackingId of one shipment."
          }
        ],
        "tags": [
          "shipments"
        ],
        "security": [
          {
            "AuthJWT": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingResponse"
                },
                "examples": {
                  "TrackingStatus": {
                    "value": {
                      "traceId": "73801b36-15d9-4bc2-9874-06772578ad95",
                      "message": "Shipment found.",
                      "data": {
                        "events": [
                          {
                            "statusCode": "1002",
                            "statusName": "CONFIRMED",
                            "data": {},
                            "metadata": {},
                            "createdAt": "2021-12-20 07:30:23"
                          },
                          {
                            "statusCode": "2003",
                            "statusName": "COLLECTED",
                            "data": {
                              "comment": "Recolectada por el veloz Don veloz Base dd9932d"
                            },
                            "metadata": {},
                            "createdAt": "2021-12-20 11:03:58"
                          },
                          {
                            "statusCode": "3001",
                            "statusName": "STORED",
                            "data": {
                              "comment": "En estación MX2 por módulo de inducción"
                            },
                            "metadata": {},
                            "createdAt": "2021-12-20 16:10:41"
                          },
                          {
                            "statusCode": "3004",
                            "statusName": "ON_LINEHAUL",
                            "data": {
                              "milleSegment": "middle",
                              "comment": "En camino a estación Toluca desde estación Tultitlán por operarios.tultitlan el número de orden 2727370887"
                            },
                            "metadata": {},
                            "createdAt": "2021-12-20 16:36:01"
                          },
                          {
                            "statusCode": "3001",
                            "statusName": "STORED",
                            "data": {
                              "location": "station",
                              "milleSegment": "first",
                              "comment": "Cambiado a la estación por jose.delgado el número de orden 2727370887"
                            },
                            "metadata": {},
                            "createdAt": "2021-12-21 08:12:21"
                          },
                          {
                            "statusCode": "3001",
                            "statusName": "STORED",
                            "data": {
                              "location": "station",
                              "milleSegment": "first",
                              "comment": "Cambiado a la estación por jose.delgado el número de orden 2727370887"
                            },
                            "metadata": {},
                            "createdAt": "2021-12-21 08:13:48"
                          },
                          {
                            "statusCode": "4001",
                            "statusName": "ON_ROAD_TO_DELIVERY",
                            "data": {
                              "attempt": 1,
                              "comment": "Auto-rea-asignada por el veloz Don veloz GUI TOL 65829"
                            },
                            "metadata": {},
                            "createdAt": "2021-12-21 08:25:59"
                          },
                          {
                            "statusCode": "4001",
                            "statusName": "ON_ROAD_TO_DELIVERY",
                            "data": {
                              "attempt": 1,
                              "comment": "Auto-rea-asignada por el veloz Don veloz GUI TOL 65829"
                            },
                            "metadata": {},
                            "createdAt": "2021-12-21 08:34:29"
                          },
                          {
                            "statusCode": "4002",
                            "statusName": "DELIVERED",
                            "data": {
                              "attempt": 1,
                              "comment": "Titular | alejandro castillo,",
                              "evidence": [
                                "https://xxxxxx"
                              ]
                            },
                            "metadata": {},
                            "createdAt": "2021-12-21 14:32:42"
                          }
                        ]
                      },
                      "errors": {}
                    },
                    "summary": "Tracking status",
                    "description": "Tracking status response"
                  }
                }
              }
            },
            "description": ""
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequest"
                },
                "examples": {
                  "TooManyRequests": {
                    "value": "HTTP/1.1 429 Too Many RequestsContent-type: text/htmlRetry-After: 3600",
                    "summary": "Too many requests",
                    "description": "if you are thinking of implementing a recurring pull system on this endpoint, you must limit requests to a maximum of 8 per second."
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/shipments/tracking/batch": {
      "get": {
        "operationId": "shipments_tracking_batch_retrieve",
        "description": "Batch tracking can add multiple identifiers of the following format -->  `/api/v3/shipments/tracking/batch?identifiers={trackingId}&identifiers={trackingId}`\n\nTrack a shipment by the given identifier. Get all information about the shipments with the related events and data. **Remember that if you are thinking of implementing a recurring pull system on this endpoint, you must limit requests to a maximum of 8 per second. However, we also offer a real-time webhook notification system so you get every change in the status of the shipments, which is more efficient than pulling. For more information go to the webhooks section**\n\n| **STATUS CODE** | **STATUS NAME** | **DESCRIPTION** |\n| --- | --- | --- |\n| 1001 | DRAFT | It is the first status when the shipment is created `in draft mode`. It means that the shipment is not yet ready by the client and its flow will not start until it is confirmed. Note that the draft value is passed when creating the order and defaults to false. Therefore, this status is only passed through if the draft was previously set to true when creating the order. |\n| 1002 | CONFIRMED | The shipment has been confirmed. It is the first status to trigger the logistics operation. It is the first default state when creating an order (false draft) or when confirming a shipment that was previously created as a draft. |\n| 2002 | ON_ROAD_TO_PICKUP | The shipment is on its way to be picked up. So a driver is heading to the point of origin. *`Does not apply to p99`* |\n| 2003 | COLLECTED | The shipment has been collected and is in the domain of an associated driver of 99minutos. |\n| 2101 | UNSUCCESSFUL_PICKUP | The shipment could not be collected. Within the response object, the attempt attribute is added with the number of collection attempts. `See examples` |\n| 3001 | STORED | The shipment is stored in a wharehouse for 99minutos. |\n| 3004 | ON_LINEHAUL | The shipment is in transit between stations for 99minutos `Not all shipments go through this state.` |\n| 4001 | ON_ROAD_TO_DELIVERY | The shipment has left the network of 99minutos stations to the final destination |\n| 4002 | DELIVERED | The shipment has been successfully delivered to its recipient |\n| 4101 | UNSUCCESSFUL_DELIVERY | The shipment could not be delivered. Inside the response object, the attempt attribute is added with the number of delivery attempts. `See examples` |\n| 5001 | ON_ROAD_TO_RETURN | Shipping on the way to return. The return occurs when it is not possible to deliver the package to the recipient and it is returned to the origin |\n| 5002 | RETURNED | The shipment has been returned to the origin successfully |\n| 5101 | UNSUCCESSFUL_RETURN | The shipment could not be returned. Inside the response object, the attempt attribute is added with the number of return attempts. `See examples` |\n| 7101 | IN_CORRECTION | In some cases the information of origin, destination, etc. may not be precise enough to make the shipment. Therefore, this status indicates that some information of the shipment must be corrected. |\n| 7102 | CORRECTED | If the shipment required correction, it indicates that this has already been done. |\n| 8001 | STOLEN | In extremely rare cases for reasons other than 99minutos the shipment is stolen. `This is extremely rare.` |\n| 8003 | CANCELLED | The shipment has been canceled via API by the client |\n| 8004 | DAMAGED | The shipment was damaged during delivery. |",
        "parameters": [
          {
            "in": "query",
            "name": "identifiers",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "The identifier represent a internalKey or trackingId of one shipment."
          }
        ],
        "tags": [
          "shipments"
        ],
        "security": [
          {
            "AuthJWT": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingBatchResponse"
                }
              }
            },
            "description": ""
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequest"
                },
                "examples": {
                  "TooManyRequests": {
                    "value": "HTTP/1.1 429 Too Many RequestsContent-type: text/htmlRetry-After: 3600",
                    "summary": "Too many requests",
                    "description": "if you are thinking of implementing a recurring pull system on this endpoint, you must limit requests to a maximum of 8 per second."
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/webhooks": {
      "post": {
        "summary": "",
        "operationId": "post-api-v3-webhooks",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConfigResponse"
          }
        },
[...]
